@mixin home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($color, fond_orange);
    height: 450px;
    margin: 15px 30% 15px 30%;
    &__title{
        font-size: 25px;
        margin-bottom: 40px;
    }
    &__form{
        &__pseudo{
            @include form;
        }
        &__email{
            @include form;
        }
        &__password{
            @include form;
            .fa-solid{
                cursor: pointer;
            }
        }
        &__submit{
            display: flex;
            justify-content: center;
            input{
                background-color: map-get($color, txt_blue);
                border-radius: 50px;
                color: white;
                font: 20px bold;
                padding: 10px 25px;
                cursor: pointer;
            } 
        }
    }
}

@mixin form {
    margin-bottom: 40px;
    label {
        display: block;
        float: left;
        width: 150px;
        font-size: larger;
    }
    input {
        height: 16px;
        font-size: medium;
    }
    p {
        font-weight: bold;
        text-align: center;
    }
}

@mixin profil {
    margin-bottom: 40px;
    label {
        display: block;
        float: left;
        width: 400px;
        font-size: medium;
    }
    input {
        height: 16px;
        font-size: medium;
    }
    p {
        text-align: center;
    }
}

@mixin body {
    body {
        margin: 0%;
        background-color: rgb(189, 189, 189);
    }
}